@font-face{
    font-family: "Luxurious";
    src: url("./fonts/LuxuriousScript-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "AgencyFB";
    src: url(./fonts/AGENCYB.TTF) format(truetype);
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-color: #e5f1fa;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header h1{
    width: 100%;
}

nav{
    background-color: #355872;
    width: 100%;
    height: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

nav button{
    border-radius: 24px;
    height: 24px;
    width: 5rem;
    font-weight: bold;
    background-color: #dec84e;
}

nav button:hover{
    background-color: #9CD5FF;
    color: #355872;
    transition: all 0.2s ease-in-out;
}

h1{
    background-color: #9CD5FF;
    text-align: center;
    padding: 16px;
    color: #355872;
    font-family: "Helvetica";
}

#content{
    font-family: "AgencyFB", sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-bottom: 2rem;
}

#content h2{
    font-size: 5rem;
    text-align: center;
}

#content > p{
    text-decoration: underline;
}

.luxury{
    font-family: "Luxurious", sans-serif;
}

.food-item h3{
    font-size: 3rem;
    color:#355872;
    text-decoration: underline;
}

.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.25rem;
}

.food-item p{
    font-size: 1.1rem;
}


.footer{
    background-color: #161E54;
    color: white;
    height: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    color: #BBE0EF;
    transitioN: color 0.2s ease-in;
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;
}

a:hover{
    color: #FF986A;
}

svg{
    margin: 4px;
}
