@font-face{
    font-family: "Luxurious";
    src: url("./fonts/LuxuriousScript-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "AgencyFB";
    src: url(./fonts/AGENCYB.TTF) format(truetype);
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-color: #e5f1fa;

    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header h1{
    width: 100%;
    background: 
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url("./assets/blue-rippled-water-background.jpg") center / cover no-repeat;
    background-attachment: fixed;
    color: white;
}

nav{
    background-color: #355872;
    width: 100%;
    height: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

nav button{
    border-radius: 24px;
    height: 24px;
    width: 5rem;
    font-weight: bold;
    background-color: #dec84e;
}

nav button:hover{
    background-color: #9CD5FF;
    color: #355872;
    transition: all 0.2s ease-in-out;
}

h1{
    background-color: #9CD5FF;
    text-align: center;
    padding: 16px;
    color: #355872;
    font-family: "Helvetica";
}

#content{
    font-family: "AgencyFB", sans-serif;

    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
}

#content h2{
    font-size: 5rem;
    text-align: center;
}

.luxury{
    font-family: "Luxurious", sans-serif;
}

.food-item h3{
    font-size: 3rem;
    color:#355872;
    text-decoration: underline;
}

.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.25rem;
}

.food-item p{
    font-size: 1.1rem;
}


.footer{
    background-color: #161E54;
    color: white;
    height: 2rem;
    /* position: absolute;
    bottom: 0;
    width: 100%; */

    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    color: #BBE0EF;
    transitioN: color 0.2s ease-in;
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;
}

a:hover{
    color: #FF986A;
}

svg{
    margin: 4px;
}

.home-content{
    font-size: 1.3rem;
    padding: 0.6rem 5rem;
}

.contact-us{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-us h2{
    padding-bottom: 2rem;
    font-family: "Luxurious", sans-serif;
}

.contact-us > p{
    padding-bottom: 2rem;
    font-size: 1.2rem;
}

.information{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: row;
    gap: 4rem;
}

.address{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 2rem;
    font-size: 1.2rem;
}

.address h3{
    font-size: 2rem;
}

.general-information{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.general-information h3{
    padding-bottom: 1rem;
    font-size: 1.5rem;
}

.general-information p{
    padding-bottom: 0.8rem;
    font-size: 1rem;
}